@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.infoins{
    color: #0f0;
}
.card-content {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-gif {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.mate{
    height: 430px;
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    }

body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(145deg, #00949e, #ff00ff);
    margin: 0;
    padding: 0;
}

nav ul li a i {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: middle;
}

nav {
    background: #111;
    border-bottom: 15px solid #111;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px 25px;
}

nav ul li a {
    color: rgb(0, 38, 255);
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid rgb(25, 33, 83);
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
}

nav ul li a:hover {
    background-color: rgb(32, 10, 201);
    color: #113;
    border-color: #111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7)
}

.subrallado{
    text-decoration: none;
}

div {
    padding: 20px;
    margin: 20px auto;
    background: #112;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.imagen-elevacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.stardew{
    height: 190px;
}

.imagen-elevacion {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.imagen-elevacion:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #0ff;
    text-shadow: 1px 1px 2px #000;
}

p {
    color: #0f1;
    line-height: 1.6;
}

.neon-footer {
    text-align: center;
    padding: 30px 20px;
    background-color: #111;
    border-top: 2px solid #111;
    position: relative;
    z-index: 1;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.neon-footer h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff,
        0 0 80px #00ffff,
        0 0 90px #00ffff,
        0 0 100px #00ffff,
        0 0 150px #00ffff;
        animation: flicker 2.5s infinite alternate;
}

.contact-info {
    margin-top: 20px;
}

.gmail{
    color: #0f1;
}
.contact-info p {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color:rgb(255, 255, 255)
}

.telefono{
    color:rgb(112, 18, 219)
}

@keyframes flicker {
    0% {
        text-shadow: 
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff,
            0 0 80px #00ffff,
            0 0 90px #00ffff,
    }
    50% {
        text-shadow: 
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff,
            0 0 30px #00ffff,
            0 0 40px #00ffff,
    }
    100% {
        text-shadow: 
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff,
            0 0 80px #00ffff,
            0 0 90px #00ffff,
    }
}

@media (max-width: 360px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

        nav ul li a {
        display: block;
        margin: 0;
        padding: 12px;
        font-size: 18px;
        border: none;
    }

    nav ul li a:hover {
        background-color: #0f0;
        color: #111;
        border-color: #111;
        box-shadow: none;
    }
}


@media screen and (max-width: 360px) and (max-height: 740px) {
    .card-gif {
    display: none;
    }
}

@media screen and (max-width: 360px) and (max-height: 740px){
.mate{
    display: none;
    }
}

@media screen and (max-width: 390px){

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

        nav ul li a {
        display: block;
        margin: 5px;
        padding: 12px;
        font-size: 18px;
        border: none;
    }

    nav ul li a:hover {
        background-color: #0f0;
        color: #111;
        border-color: #111;
        box-shadow: none;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .card-gif {
    display: none;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px){
.mate{
    display: none;
    }
}